<section>
  <h1>Recherche de Films</h1>
  <p>Trouvez le film qui vous plait</p>

	 <%= form_tag(movies_search_path, method: "get") do |f| %>
	  <%= label_tag :Recherche %>
	  <%= text_field_tag :usersearch%>
	  <%= submit_tag :"Lancer la recherche", :class =>"btn btn-primary"%>
	<% end %>

</section>


<section>

<% unless @my_results == nil %>

  <% @my_results.each do |result| %>
    <div>
     <h3><%= result["title"] %></h3>
     <p> Sortie le <%= result["release_date"] %></p>
     <img src = "http://image.tmdb.org/t/p/w500/<%= result["poster_path"] %>">
   </div>
  <% end %>
 <% end %>

</section>
