<section>
  <h1>Recherche de Films</h1>
  <p>Trouvez le film qui vous plait</p>

	 <%= form_tag(movies_search_path, method: "get") do |f| %>

	      <%= label_tag :Search %>
	      <%= text_field_tag :usersearch%>

	      <%= submit_tag :Submit, :class =>"w3-btn w3-white"%>
	<% end %>

</section>


<section id="results">

<% unless @my_results == nil %>

  <% @my_results.each do |result| %>
     <h3><%= result["title"] %></h3>
     <p> released on <%= result["release_date"] %></p>
     <img src = "http://image.tmdb.org/t/p/w500/<%= result["poster_path"]%>">
  <% end %>
 <% end %>

</section>
